.carousel-cell {
    width: 100%;
    margin-right: 40px;
}

.carousel-cell .side-by-side {
    margin-bottom: 0px;
}

.carousel-cell img{
    margin-right: 30px;
    width: 50%;
    object-fit: contain;
}

.carousel-name{
    margin: 0px;
}

.carousel-text p{
    margin: 0px;
    font-size: 0.75em;
    line-height: 1.6;
}


.flickity-button {
    background: transparent;
}

.flickity-button:hover {
    background: transparent;
}

.flickity-button-icon {
    fill: white;
}

.flickity-prev-next-button.next {
    right: -70px;
}

.flickity-prev-next-button.previous {
    left: -70px;
}

.next-carousel-name{
    color: white;
    position: absolute;
    margin: 0px;
    text-align: center;
    transform: rotate(90deg);
    width: 150px;
    left: -75px;
    top: 10px;
}

.previous-carousel-name{
    color: white;
    position: absolute;
    margin: 0px;
    text-align: center;
    transform: rotate(-90deg);
    width: 150px;
    right: -75px;
    top: 10px;
}

.carousel-title{
    font-size: 2.5em;
}