body {
    margin: 0;
    
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    color: white;
    font-family: Verdana;
    font-size: 22px;
}

canvas {
    display: block;
    position: fixed;
    z-index: -10;
}

.right-side{
    width: 40%;
    float: right;
    padding-right: 50px;
    margin-top: 5000px;
    margin-bottom: 400px;
}