body {
    margin: 0;
    
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

    overscroll-behavior: none;

    --bottom-margin: 50px;
}

p{
    margin: 0px 0px var(--bottom-margin) 0px;
    line-height: 2em;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
}

.right-side{
    width: 40%;
    float: right;
    padding-right: 12%;
    margin-top: 5000px;
    margin-bottom: 20px;
    max-width: 1600px;
}

#bottom-spacer{
    height: 300vh;
}

.orbit-text-container{
    margin: 0;
    position: fixed;
    top: 50%;
    right: 50%;
    -ms-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
    perspective: 1000px;
}

.orbit-text{
    width: 675px;
    text-align: center;
    font-size: 1.4em;
    transform: translateX(-400px) rotateY(-70deg);
    opacity: 0;
}

.quote{
    font-family: 'Source Serif Pro', serif;
    margin-top: 0px;
    margin-bottom: 2px;
}

.quote-attribution{
    font-size: 0.7em;
    text-align: right;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: var(--bottom-margin);
    width: 100%;
}

.heading{
    font-size: 3em;
}

.side-by-side{
    display: flex;
}

.side-by-side > *{
    flex: 1;
    margin-top: 0;
}

.side-by-side > *:first-child{
    margin-right: 20px;
}

.center-vertically{
    display: flex;
    align-items: center;
}

.image-and-caption{
    margin-bottom: var(--bottom-margin);
}

.image-and-caption img{ 
    width: 100%;
    object-fit: contain;
}

.image-and-caption p{
    background-color: #080a1ccc ;
    padding: 20px;
    margin: 0px;
    margin-top: -5px;
    font-size: 0.75em;
}

.audio-icon{
    position: absolute;
    transform: translateX(-60px) translateY(68px);
    width: 35px;
    cursor: pointer;
    transition: .5s;
}

.audio-icon:hover{
    width: 40px;
}

video{
    margin-bottom: var(--bottom-margin);
}

.footnotes{
    margin-top: 70px;
    font-size: 0.6em;   
}

.footnotes p{
    margin: 0px;
    line-height: 1.6;
}
