body {
    margin: 0;
    
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    color: white;
    font-family: Verdana;
    font-size: 22px;
}

canvas {
    display: block;
    position: fixed;
    z-index: -10;
}

.right-side{
    width: 40%;
    float: right;
    padding-right: 50px;
    margin-top: 5000px;
    margin-bottom: 20px;
}

.orbit-text-container{
    margin: 0;
    position: fixed;
    top: 50%;
    right: 50%;
    -ms-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
    perspective: 1000px;
}

.orbit-text{
    width: 675px;
    text-align: center;
    font-size: 32px;
    transform: translateX(-400px) rotateY(-70deg);
    opacity: 0;
}

.kennedy{
    display: none;
}

.peabody{
    display: inline;
}